.main-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    }
    .my-rectangle {
      position: absolute;
      width: 285px;
      height: 352px;
      background: #FFFFFF;
      border-radius: 40px;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(255, 117, 4, 0.877);
    }
    
    .my-rectangle h1 {
      width: 226px;
      height: 41px;
      left: 480px;
      top: 2234px;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      letter-spacing: 0.05em;
      color: #1E1E1E;
      
    }
    
    .my-rectangle img {
      position: absolute;
      width: 89.99px;
      height: 102px;
      left: 50%;
      transform: translateX(-50%);
      top: 190px;
      align-items: center;
    }
    
    .my-rectangle p {
      width: 231px;
      height: 64px;
      left: 478px;
      top: 2287px;
      
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 176%;
      text-align: center;
      letter-spacing: 0.02em;
      
      color: #1E1E1E;
    }
    .right-side {
        Width:464px;
        Height:193px;
        margin-top: 210px;
        margin-left: auto;
    }

    .background {
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        
      }
      
      .bottom-side {
        padding: 60px;
        font-family: Lora;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-top: 550px;
        margin-left: 291px;
        margin-right: 291px;
      }
      .slide {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      
      .div-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 100%;
      }
      
      .div-item {
        width: 180px;
        height: 48px;
        background: #F6F6F6;
        border: 2px;
        box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        gap: 10%;
        align-items: center;


      }
      
      .div-item h1 {
        width: 153px;
        height: 25px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: #C4C4C4;
        text-align: center;
      }
      
      


          
          
    
   