.flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    list-style: none;
}
button{
    margin-top: 20px;
}
