.flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 35px;
    list-style: none;
    justify-content:right;
    margin-bottom: 20px;
    
}

button{
margin-top: 10px;
width: 157px;
height: 44px;
background: #FACA10;
box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
border-radius: 5px;
border-color: beige;
}
