.full{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  margin-right: 400px;
  gap:20px;
  margin-bottom: 200px;
}

.left{
    display: flex;
    flex-direction: row;
  }
  .TheFirm{
    width: 620px;
height: 118px;
font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 133.4%;
letter-spacing: 0.02em;

color: #1E1E1E;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  }

  .Lorem{
 width: 437px;
height: 96px;
font-style: normal;
font-weight: 400px;
font-size: 18px;
line-height: 176%;
letter-spacing: 0.02em;
color: #1E1E1E;
margin-top: 200px;
margin-left: -620px;

  }

.Get{
width: 157px;
height: 48px;
background: #FACA10;
box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
border-radius: 5px;
border-color: beige ;
margin-left: -810px;
margin-top: 330px;

  }
  .picture{
width: 852px;
height: 650px;
background: #ECDEA6;
border-radius: 37px;
margin-left: 450px;
margin-top: -500px;
  }
  
  